.container {
    width: 1024px;
    margin: 0 auto;
}
#main-bio { 
    width:70%;
    float: left;
}

a {
    color:#d21034
}
#contact-info {
    float: left;
    width: 30%;
    line-height: 36px;
}
#bio-image {
    float: left;
    width: 200px;
}
body {
    background-color:#efeee7;
    color:#333333;
    margin: 0;
    padding: 0;
    line-height: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
    background-color: #333333;
    text-align:center;
    line-height: 56px;
}
h1 {
color: #eee;
font-size: 28px;
}
h2 {
    font-size: 24px;
}